{% extends "base.html" %}
{% block contenido %}

<h3>Total de tareas: {{ total }}</h3>

<button class="btn-crear" onclick="abrirModal('modalCrear')">Nueva Tarea</button>

<!-- MODAL CREAR -->
<div id="modalCrear" class="modal">
    <h3>Crear Tarea</h3>
    <form method="post">
        {{ form.csrf_token }}
        {{ form.titulo.label }}<br>
        {{ form.titulo }}<br>
        {{ form.descripcion.label }}<br>
        {{ form.descripcion }}<br><br>
        {{ form.enviar }}
        <button type="button" onclick="cerrarModal('modalCrear')">Cerrar</button>
    </form>
</div>

<br><br>

{% if tareas and tareas|length > 0 %}

<table>
    <tr>
        <th>#</th>
        <th>Título</th>
        <th>Descripción</th>
        <th>Fecha</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>

    {% for tarea in tareas %}
    <tr class="{{ 'completada' if tarea.completada else 'pendiente' }}">
        <td>{{ loop.index }}</td>
        <td>{{ tarea.titulo }}</td>
        <td>{{ tarea.descripcion }}</td>
        <td>{{ tarea.fecha_creacion.strftime('%d/%m/%Y %H:%M') }}</td>

        <td>
            {% if tarea.completada %}
            Completada
            {% else %}
            Pendiente
            {% endif %}
        </td>

        <td>
            {% if tarea.completada %}
            <a href="/completar/{{ tarea.id }}">
                <button class="btn-pendiente">
                    Marcar como pendiente
                </button>
            </a>
            {% else %}
            <a href="/completar/{{ tarea.id }}">
                <button class="btn-completar">
                    Marcar completada
                </button>
            </a>
            {% endif %}

            <button class="btn-editar">
                Editar
            </button>

            <button class="btn-eliminar">
                Eliminar
            </button>
        </td>
    </tr>


    {% endfor %}
</table>

{% else %}

<!-- MENSAJE CUANDO NO HAY TAREAS -->
<div class="mensaje-vacio">
    No hay tareas registradas todavía.<br><br>
    Haz clic en <strong>“Nueva Tarea”</strong> para comenzar.
</div>

{% endif %}

{% endblock %}